@import "tailwindcss";
.marker-pin {
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 50% 0;
    background: #c32525;
    /* Fallback color */
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: bounce 1.5s infinite ease-out;
}

.marker-pin-pulse {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
}

@keyframes bounce {
    0% {
        transform: rotate(-45deg) translateY(0);
    }
    50% {
        transform: rotate(-45deg) translateY(-10px);
    }
    100% {
        transform: rotate(-45deg) translateY(0);
    }
}